<div class="navigation-menu">

    <nav class="cover-navigation navigation--menu">
        <ul class="navigation">
            <li class="navigation__item"><a href="{{ site.baseurl }}/#header"
                                            title="link to home page"
                                            class="panel-button home-button">
                <i class="fa-solid fa-house"></i>&nbsp;Home</a></li>
            {% if site.gotProjects %}
            <li class="navigation__item"><a href="{{ site.baseurl }}/#projects"
                                            title="link to game Projects"
                                            class="panel-button projects-button">
                <i class="fa-solid fa-gamepad"></i>&nbsp;Game Projects</a></li>
            {% endif %}
            {% if site.gotWork %}
            <li class="navigation__item"><a href="{{ site.baseurl }}/#work"
                                            title="link to Other IT Projects"
                                            class="panel-button work-button"><i
                    class="fas fa-file-code fa-lg"></i>&nbsp;Other IT Projects</a></li>
            {% endif %}
            {% if site.gotMisc %}
            <li class="navigation__item"><a href="{{ site.baseurl }}/#misc"
                                            title="link to Misc Projects"
                                            class="panel-button misc-button">
                <i class="fa-solid fa-wand-magic-sparkles"></i></i>&nbsp;Misc Projects</a></li>
            {% endif %}
            {% if site.gotResume %}
            <li class="navigation__item"><a href="{{ site.baseurl }}/#cv" title="link to Resume"
                                            class="panel-button cv-button"><i
                    class="fas fa-file-alt fa-lg"></i>&nbsp;Resume</a></li>
            {% endif %}
            {% if site.email_form %}
            <li class="navigation__item"><a href="{{ site.baseurl }}/#mail" title="link to Email"
                                            class="panel-button mail-button"><i
                    class="fas fa-envelope fa-lg"></i>&nbsp;Email</a></li>
            {% endif %}
        </ul>
    </nav>

</div>