.resume-element ul{
  margin-left: 60px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.content-element{
  border-bottom: 2px solid #dddddd;
  padding-top: 1rem;
  width: 100%;
}
.content-element h2{
  margin-bottom: 3rem;
}
.resume-element{
  margin-top:1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  border-top: 1px solid #dddddd;
  padding-top: 1rem;
  // &.resume-element-last{
  //   border: none;
  // }
}

.resume-element h3{
  margin-left: 20px;
  width: 10vw;
  margin-bottom: 0;
}
.span-italic{
  font-style: italic;
}
.resume-element ul li p{
  margin-left: 20px;
  margin-bottom: 0;
}
.resume-element ul li{
  margin-bottom: 0;
}
.resume-element ul li h4{
  margin-bottom: 0;
}
.desc{
  margin-bottom: 0;
}
.span-size{
  font-size: 12px;
}

@media all and (max-width: 960px) {
  .resume-element{
    flex-direction: column;
    justify-content: center;
  }
}
.short-desc {
  font-style: italic;
}
.foreign-link{
  border: solid 1px;
  border-radius: 50vh;
  padding: 5px;
}
.common-block{
  margin-bottom: 30px;
  border-bottom: 2px solid #dddddd;
  padding-bottom: 20px;
}
.year-block{
  margin-bottom: 0px;
}