<!DOCTYPE html>
<html>
{% include head.html %}

<body>
<div class="body-content">
    {% include header.html %}

    <div class="content-wrapper showing">
        <div class="content-wrapper__inner">
            <div class="text-content">
                <div class="common-block">
                    <h2>{{ page.name }}</h2>
                    <p class="year-block">{{ page.year}}</p>
                    <p class="short-desc">{{page.desc}}</p>
                    {% if page.itchio %}
                    <a target="_blank" class="foreign-link" href="{{ page.itchio }}"><i class="fab fa-itch-io"></i><span class="watchers"> Test it</span></a>
                    {% endif %}
                    {% if page.repo %}
                    <a target="_blank" class="foreign-link" href="https://github.com/{{ page.gh_user }}/{{ page.repo }}"><i class="fab fa-github"></i><span class="watchers"> Repository</span></a>
                    {% endif %}
                </div>
                {{content}}
            </div>
        </div>
        {% if page.galleryUrl %}
        {% include image-gallery.html folder=page.galleryUrl %}
        {% endif %}
        {% include footer.html %}
    </div>
</div>
</body>
</html>
